@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { 
    font: 12pt Arial; 
}

h1, h2, h3 { 
    font-family: 'Pacifico', cursive; font-weight: normal;
    font-size:25pt;
}

.botao {
    font-size: 15pt; 
    padding: 30px;
}