*{
    margin:0;
    padding:0;
    border-style:border-box;
}

body{
    font: Arial 20pt black;
    background-color: aquamarine;
}
input{
    margin-top:10px;
    background-color: brown;
    color:whitesmoke;
    width:100px;
}

.resultado{
    margin-top:20px;
}
