@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body { font: 15pt Arial; }
h1, h2, h3 { font-family: 'Pacifico', cursive; font-weight: normal;}
button { font-size: 13pt; padding: 35px; }